<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data Entry Form</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>Data Entry Form</h1>

<form th:action="@{/submit}" th:object="${userEntry}" method="post">
    <label for="name">Name *</label><br>
    <input type="text" id="name" th:field="*{name}"/><br>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span><br>

    <label for="age">Age</label><br>
    <input type="number" id="age" th:field="*{age}"/><br><br>

    <label for="title">Title *</label><br>
    <input type="text" id="title" th:field="*{title}"/><br>
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></span><br>

    <label for="hometown">Hometown</label><br>
    <input type="text" id="hometown" th:field="*{hometown}"/><br><br>

    <button type="submit">Submit</button>
</form>
</body>
</html>